.main {
  color: black;
  font-family: "sans-serif";
  height: 100vh;
}

.container {
  padding-top: 63px;
  margin: auto;
  max-width: 737px;
}

.main.sans-serif {
  font-family: "sans-serif";
}

.main.serif {
  font-family: "serif";
}

.main.mono {
  font-family: "mono";
}

.main.dark {
  color: #fff;
}

.main.light {
  color: black;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 58px 40px;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 479px) {
  .container {
    padding: 24px;
    padding-bottom: 0;
  }
}
